
<launch>
  <arg name="odom_topic" default="odom" />
  <arg name="vel_topic" default="cmd_vel" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
    <rosparam file="$(find bobac3_navigation)/param/sim/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bobac3_navigation)/param/sim/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find bobac3_navigation)/param/sim/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find bobac3_navigation)/param/sim/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bobac3_navigation)/param/sim/dwa_local_planner_params.yaml" command="load" />
    <!-- <rosparam file="$(find bobac3_navigation)/param/sim/teb_local_planner_params.yaml" command="load" /> -->
    <rosparam file="$(find bobac3_navigation)/param/sim/move_base_params.yaml" command="load" />
    <!--rosparam file="$(find bobac3_navigation)/param/sim/global_planner_params.yaml" command="load" /-->
    <rosparam file="$(find bobac3_navigation)/param/sim/navfn_global_planner_params.yaml" command="load" />

    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="cmd_vel" to="$(arg vel_topic)"/>
  </node>
</launch>
